body {
  background-color:#FAE48B99;
  background-image: linear-gradient(30deg, #526E2D99 12%, transparent 12.5%, transparent 87%, #526E2D99 87.5%, #526E2D99),
  linear-gradient(150deg, #526E2D99 12%, transparent 12.5%, transparent 87%, #526E2D99 87.5%, #526E2D99),
  linear-gradient(30deg, #526E2D99 9%, transparent 12.5%, transparent 87%, #526E2D99 87.5%, #526E2D99),
  linear-gradient(150deg, #526E2D99 12%, transparent 12.5%, transparent 87%, #526E2D99 87.5%, #526E2D99),
  linear-gradient(60deg, #B7E4F999 25%, transparent 25.5%, transparent 75%, #B7E4F999 75%, #B7E4F999),
  linear-gradient(60deg, #B7E4F999 25%, transparent 25.5%, transparent 75%, #B7E4F999 75%, #B7E4F999);
  background-size:80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}
